<h2>Registration successful</h2>
<p>Hello, {{firstName}} {{lastName}}!</p>
<p>You have successfully registered on <b>{{appName}}</b>.</p>
<p>Your nickname: <b>{{nickname}}</b></p>
<p>You can now sign in at {{appUrl}}.</p>
